1) What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized in a way that allows for easy storage, retrieval, and management of information. Databases are commonly used in many industries to store and manage large amounts of data
SQL databases are relational and use structured query language, while NoSQL databases are non-relational and do not rely on a structured language.
SQL databases are best suited for structured data with clearly defined relationships, while NoSQL databases are ideal for handling large amounts of unstructured and semi-structured data.
SQL databases are typically used for traditional business applications, while NoSQL databases are commonly used in big data and real-time web applications

2) What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL is a data defination language is a set of sql commands used to define the database structure and schema 
DDL statements are used to create, modify, and delete database objects such as tables, views, indexes, and constraints
CREATE: used to create new database objects such as tables, views, indexes, and constraints
DROP: used to delete an existing database object such as a table or a view
ALTER: used to modify the structure of an existing database object such as a table or a view.
TRUNCATE : used to remove all data from a table, but not the table structure itself

In [ ]:
CREATE TABLE customers (
  customer_id INT PRIMARY KEY,
  name VARCHAR(50) NOT NULL,
  email VARCHAR(100) UNIQUE,
  phone VARCHAR(20)
);

In [ ]:
DROP TABLE customers;

In [ ]:
ALTER TABLE customers ADD COLUMN address VARCHAR(100);

In [ ]:
TRUNCATE TABLE customers;

3) What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML (Data Manipulation Language) is a set of SQL commands used to modify and manipulate the data stored in a database. DML statements are used to insert, update, and delete data from tables
INSERT : used to insert new data into a table
UPDATE : used to modify existing data in a table
DELETE : used to delete data from a table

INSERT INTO customers (customer_id, name, email, phone) 
VALUES (1, 'SRINU', 'srinu@gmail.com', '45465465');

UPDATE customers SET phone = '5555678' WHERE customer_id = 1;

DELETE FROM customers WHERE customer_id = 1;

4) What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL that is used to retrieve and manipulate data from a relational database management system
SELECT : is a DQL command used to retrieve data from one or more tables in a database

SELECT column1, column2
FROM table_name;

5) Explain Primary Key and Foreign Key.

Primary key : It is a column or a group of columns in a table that uniquely identifies each row in that table. It cannot contain NULL values, and its values must be unique across all rows in the table. A primary key is used to enforce entity integrity, which means that each row in a table must be uniquely identifiable
Foreign key : on the other hand, is a column or a group of columns in one table that refers to the primary key of another table. It establishes a relationship between two tables based on the values of the columns. A foreign key is used to enforce referential integrity, which means that the values in the foreign key column must match the values in the primary key column of the referenced table, or be NULL

6) Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

cursor :  method of the connection object. A cursor is an object that allows us to execute SQL queries and fetch the results
execute : method of the cursor object, passing in the query as a string argument. In this example, we execute a simple SELECT statement to retrieve all the rows from the "customers" table

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("insert into test1.test_table values(78787,'srinu' ,234,34.5,'kumar')")
mycursor.execute("insert into test1.test_table values(78787,'srinu' ,234,34.5,'kumar')")
mycursor.execute("insert into test1.test_table values(78787,'srinu' ,234,34.5,'kumar')")
mycursor.execute("insert into test1.test_table values(78787,'srinu' ,234,34.5,'kumar')")
mycursor.execute("insert into test1.test_table values(78787,'srinu' ,234,34.5,'kumar')")
mycursor.execute("insert into test1.test_table values(78787,'srinu' ,234,34.5,'kumar')")
mycursor.execute("insert into test1.test_table values(78787,'srinu' ,234,34.5,'kumar')")
mydb.commit()
mydb.close()

7) Give the order of execution of SQL clauses in an SQL query.

In [ ]:
1)FORM : This clause specifies the table(s) from which data is to be retrieved
2)JOIN : This clause is used to combine data from multiple tables based on a related column between them
3)WHERE : This clause is used to filter the rows returned by the query based on a specific condition
4)GROUP BY :