1) Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd
data = [4,8,15,16,23,42]
series = pd.Series(data)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

2) Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [4]:
import pandas as pd
my_list = [1,2,3,4,5,6,7,8,9,10]
my_series = pd.Series(my_list)
my_series

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

3) Create a Pandas DataFrame that contains the following data:

In [9]:
import pandas as pd
data = {"Name":["Alice","Bob","Claire"],
        "Age":[25,30,27],
        "Gender":["Female","Male","Female"]}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

4) What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a table in a relational database or a spreadsheet. Each column in a DataFrame is a Pandas Series object
A Pandas Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a column in a spreadsheet or a one-dimensional array
The main difference between a DataFrame and a Series is that a DataFrame can store multiple columns of data of different types, while a Series can only store a single column of data. In other words, a DataFrame is a collection of Series objects

In [13]:
import pandas as pd
s = pd.Series([1,2,3,4,5])
df = pd.DataFrame({'A': [1,2,3], 'B':['a','b','c']})
print("Series:")
print(s)
print("Dataframe:")
print(df)

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Dataframe:
   A  B
0  1  a
1  2  b
2  3  c

5) What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

1) df.head(n) : Returns the first n rows of the DataFrame. This can be useful for quickly checking the structure of the data and getting an idea of what it looks like
2) df.tail(n) : Returns the last n rows of the DataFrame. This can be useful for quickly checking the end of the data and seeing if there are any trends or patterns
3) df.info() : Displays information about the DataFrame, including the number of rows and columns, the data types of each column, and the number of non-null values
4) df.describe() : Generates descriptive statistics for the DataFrame, including measures of central tendency and dispersion, as well as quartiles and other summary statistics
5) df.groupby(column) : Groups the data by a specified column and allows for aggregation functions to be applied to the groups. This can be useful for exploring trends and patterns in the data
6) df.dropna() : Removes any rows with missing data (i.e., NaN values) from the DataFrame. This can be useful for cleaning the data and preparing it for analysis

df.groupby('customer_name')['price'].mean()

6) Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame are mutable in nature, whereas Panel is deprecated since pandas version 0.25.0 and has been replaced by the MultiIndex 
feature in DataFrame, which can represent higher-dimensional data in a more flexible way
n pandas, mutable objects can be modified after they are created, allowing for data manipulation and analysis. For example, you can modify the 
values in a Series or DataFrame, add or remove columns, or change the index. However, it's important to note that some operations, such as adding 
or removing rows from a DataFrame, can create a new copy of the object rather than modifying the original in place

7) Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series, you can pass a dictionary of key-value pairs to the pd.DataFrame() constructor. The keys of the dictionary will be used as the column names of the DataFrame, and the values will be used as the data in each column

In [15]:
import pandas as pd
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
genders = pd.Series(['F', 'M', 'M', 'M'])
data = {
    'Name': names,
    'Age': ages,
    'Gender': genders
}
df = pd.DataFrame(data)
df

      Name  Age Gender
0    Alice   25      F
1      Bob   30      M
2  Charlie   35      M
3    David   40      M