1) List any five functions of the pandas library with execution.

1) read_csv() : This function is used to read data from a CSV file and convert it into a pandas DataFrame
2) info() : This function is used to display a summary of the DataFrame, including the number of non-null values in each column, the data type of each column, and the memory usage of the DataFrame
3) groupby() : This function is used to group data based on one or more columns and perform an operation on the grouped data
4) dropna() : This function is used to remove rows or columns that contain missing values from a DataFrame
5) merge() :This function is used to merge two DataFrames based on one or more common columns

In [ ]:
import pandas as pd
df = pd.read_csv("data.csv")
df.head()

In [ ]:
import pandas as pd
df = pd.read_csv("data.csv")
df.info()

In [ ]:
import pandas as pd
df = pd.read_csv("data.csv")
grouped_data = df.groupby('Category')['Sales'].sum()
grouped_data

In [ ]:
import pandas as pd
df = pd.read_csv("data.csv")
df = df.dropna()
df.head()

In [ ]:
import pandas as pd
df = pd.read_csv("data.csv")
merged_data = pd.merge(df1, df2, on='id')
merge_data.head()

2) Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row

import pandas as pd
def reindex_dataframe(df):
    new_index = pd.Index(range(1, 2*len(df), 2), name = 'new_index')
    return df.set_index(new_index).reset_index()

3) You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [3]:
import pandas as pd
def sum_first_three(df):
    total =0
    for i, row in df.iterrows():
        if i>=3:
            break
        total += row['Values']
    print(f"The sum of the first three values in the 'Values' column is {total}")
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
sum_first_three(df)

The sum of the first three values in the 'Values' column is 60

4) Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [4]:
import pandas as pd
def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.split()))
    return df
df = pd.DataFrame({'Text':['This is a simple sentence', 'Another sentence with more words']})
df = add_word_count(df)
df

                               Text  Word_Count
0         This is a simple sentence           5
1  Another sentence with more words           5

5) How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size() and DataFrame.shape() are both methods in the Pandas DataFrame class that provide information about the size and 
shape of the DataFrame
1) DataFrame.size() : returns the total number of elements in the DataFrame, which is equal to the number of rows times the number of columns. The method returns a single integer value
2) DataFrame.shape() : returns a tuple containing the number of rows and the number of columns in the DataFrame. The method returns two integer values, which can be accessed using indexing

6) Which function of pandas do we use to read an excel file?

To read an Excel file in Pandas, you can use the read_excel() function, which is part of the Pandas library. 
The read_excel() function reads data from an Excel file into a Pandas DataFrame

7) You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [6]:
import pandas as pd
def extract_username(df):
    df['Username']=df['Email'].apply(lambda x: x.split('@')[0])
    return df
df = pd.DataFrame({'Email':['john.doe@gmail.com','jane.doe@example.com']})
df = extract_username(df)
df

                  Email  Username
0    john.doe@gmail.com  john.doe
1  jane.doe@example.com  jane.doe

8) You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Assignment

Data Science Masters

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [10]:
import pandas as pd
def select_rows(df):
    selected_rows = df[(df['A']>6) &(df['B']<10)]
    return selected_rows
df = pd.DataFrame({'A':[3,8,6,2,9],'B':[5,2,9,3,1],'C':[1,7,4,5,2]})
selected_rows = select_rows(df)
selected_rows

   A  B  C
1  8  2  7
4  9  1  2

9) Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [14]:
import pandas as pd
def calculate_statistics(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std = df['Values'].std()
    return mean, median, std
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})
mean, median, std = calculate_statistics(df)
print(mean)
print(median)
print(std)

3.0
3.0
1.5811388300841898

10) Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [15]:
import pandas as pd
def add_moving_average_column(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df

In [ ]:
11) You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [16]:
import pandas as pd
def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df['Date'] = pd.to_datetime(df['Date'])  # convert 'Date' column to datetime type
df = add_weekday_column(df)
df

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

12) Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [17]:
import pandas as pd
def select_january_data(df):
    start_date = pd.Timestamp('2023-01-01')
    end_date = pd.Timestamp('2023-01-31')
    return df[(df['Date'] >= start_date) & (df['Date'] <=end_date)]
df = pd.DataFrame({'Date': pd.date_range(start='2023-01-01', end='2023-02-28', freq='D')})
df = select_january_data(df)
df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

13) To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself. The pandas library provides a powerful set of tools for data manipulation and analysis, including data structures like DataFrames and Series, functions for reading and writing data to various file formats, and a wide range of functions for data cleaning, filtering, merging, and aggregation