1) You are working on a machine learning project where you have a dataset conta#ning numerical and
categorical features. You have identified that some of the features are highly correlated and there are
missing values in some of the columns. You want to build a pipeline that automates the feature
engineering process and handles the missing values.\

Design a pipeline that includes the following steps:

Use an automated feature selection method to identify the important features in the dataset.

Create a numerical pipeline that includes the following steps:

Impute the missing values in the numerical columns using the mean of the column values.

Scale the numerical columns using standardisation.

Create a categorical pipeline that includes the follow#ng steps:

Impute the missing values in the categorical columns using the most frequent value of the column.

One-hot encode the categorical columns.

Combine the numerical and categorical pipelines using a ColumnTransformer.

Use a Random Forest Classifier to build the final model.

Evaluate the accuracy of the model on the test dataset.

Note! Your solution should include code snippets for each step of the pipeline, and a brief explanation of
each step. You should also provide an interpretation of the results and suggest possible improvements for
the pipeline.

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df=sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [31]:
df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [34]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['species']=encoder.fit_transform(df['species'])

In [35]:
df['species'].value_counts()

0    50
1    50
2    50
Name: species, dtype: int64

In [36]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width     species
count    150.000000   150.000000    150.000000   150.000000  150.000000
mean       5.843333     3.057333      3.758000     1.199333    1.000000
std        0.828066     0.435866      1.765298     0.762238    0.819232
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.350000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [37]:
X=df.drop(labels=['species'],axis=1)
y=df['species']

In [40]:
X.shape,y.shape

((150, 4), (150,))

In [41]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=42)

In [42]:
X_train.shape,X_test.shape

((120, 4), (30, 4))

In [43]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [44]:
numerical_cols=['sepal_length','sepal_width','petal_length','petal_width']

In [45]:
num_pipeline=Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')),
         ('scaler',StandardScaler())
    ] 
)

In [46]:
preprocessor=ColumnTransformer([
    ('num_pipeline',num_pipeline,numerical_cols)
])

In [47]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [53]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

In [54]:
models={
    'Random Forest':RandomForestClassifier(),
    'logistic regression':LogisticRegression(),
    'SVC':SVC()
}

In [55]:
from sklearn.metrics import accuracy_score

In [56]:
def evaluate_models(X_train,X_test,y_train,y_test,models):
    report={}
    for i in range(len(models)):
        model=list(models.values())[i]
        model.fit(X_train,y_train)
        y_test_pred=model.predict(X_test)
        test_model_score=accuracy_score(y_test,y_test_pred)
        report[list(models.keys())[i]]=test_model_score
    return report

In [57]:
evaluate_models(X_train,X_test,y_train,y_test,models)

{'Random Forest': 1.0, 'logistic regression': 1.0, 'SVC': 1.0}